// Colors
$color-primary: #70cbf4;
$color-secondary: #d40e14;
$color-blue: #4fb0db;
$color-dark-blue: #092a5e;
$color-light-blue: #c2e6fa;
$color-success: #69bc6b;
$color-warning: #ffb743;
$color-error: #e84a46;
$color-white: #ffffff;
$color-black: #000000;
$color-highlight: #fbe6c3;
$color-error-page: #fff7eb;